@font-face {
  font-family: "Circular";
  src: url("Circular/Circular_Air-Book.woff") format("woff"),
    url("Circular/Circular_Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularLight";
  src: url("Circular/Circular_Air-Light.woff") format("woff"),
    url("Circular/Circular_Air-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CircularBold";
  src: url("Circular/Circular_Air-Bold.woff") format("woff"),
    url("Circular/Circular_Air-Bold.ttf") format("truetype");
}
