html {
  box-sizing: border-box;
  font: normal 15px/1.4 "CircularAir", "Helvetica Neue", Helvetica, sans-serif;
  color: #383838;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body--fixed,
.ReactModal__Body--open {
  overflow: hidden;
}
